<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width,minimum-scale=1,initial-scale=1,viewport-fit=cover"
		/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
		<div class="header">
			<div class="container"><%= htmlWebpackPlugin.options.title %></div>
		</div>
		<div class="section">
			<div class="container">
				<div class="_grid _spacer _spacer--lg">
					<div class="_cell _cell--12 _md:cell--4 _df:cell--3">
						<h2>Категории</h2>
						<form id="filter" class="_owl _owl--df _pt-df">
							<div class="filter-set">
								<div class="filter-set__name">Бренд</div>
								<div class="filter-set__controls">
									<label class="filter-label">
										<input type="checkbox" class="js-form-input js-filter-item" name="brand" value="1" />
										<span>ELIGOR</span>
									</label>
									<label class="filter-label">
										<input type="checkbox" class="js-form-input js-filter-item" name="brand" value="2" />
										<span>MSMODELS</span>
									</label>
									<label class="filter-label">
										<input type="checkbox" class="js-form-input js-filter-item" name="brand" value="3" />
										<span>SCHUCO</span>
									</label>
								</div>
							</div>
							<div class="filter-set">
								<div class="filter-set__name">
	                                <label for="marka">Производитель</label>
	                            </div>
								<div class="filter-set__controls">
									<select id="marka" name="marka" class="select js-form-select js-filter-item">
										<option value="">Выбрать</option>
										<option value="1">Наш автопром</option>
										<option value="2">V43</option>
										<option value="3">SSM</option>
										<option value="4">MATRIX</option>
										<option value="5">NOREV</option>
									</select>
								</div>
							</div>
							<div class="filter-set">
								<div class="filter-set__name">
									<label for="marka">Год</label>
								</div>
								<div class="filter-set__controls">
									<select id="year" name="year" class="select js-form-select js-filter-item">
										<option value="">Выбрать</option>
										<optgroup label="70">
											<option value="1971">1971</option>
											<option value="1972">1972</option>
											<option value="1973">1973</option>
											<option value="1974">1974</option>
											<option value="1975">1975</option>
										</optgroup>
										<optgroup label="80">
											<option value="1981">1981</option>
											<option value="1982">1982</option>
											<option value="1983">1983</option>
											<option value="1984">1984</option>
											<option value="1985">1985</option>
										</optgroup>
										<optgroup label="90">
											<option value="1991">1991</option>
											<option value="1992">1992</option>
											<option value="1993">1993</option>
											<option value="1994">1994</option>
											<option value="1995">1995</option>
										</optgroup>
									</select>
								</div>
							</div>
							<div class="filter-set">
								<div class="filter-set__name">
									<label for="filter-model">Модель</label>
								</div>
								<div class="filter-set__controls">
									<select
										id="filter-model"
										name="filter-model"
										class="select js-form-select js-filter-item"
									>
										<option value="">Выбрать</option>
										<option value="1">ГАЗ</option>
										<option value="2">ЗиЛ</option>
										<option value="3">BMW</option>
										<option value="4">Mercedes</option>
										<option value="5">Daimler</option>
									</select>
								</div>
							</div>
							<div class="filter-set">
								<div class="filter-set__name">Цена</div>
								<div class="filter-set__controls">
									<div class="_grid _grid--2 _spacer _spacer--md">
										<div class="_cell">
											<div class="_owl _owl--xs">
												<label for="price-from">
													<small>От</small>
												</label>
												<input
													id="price-from"
													name="price"
													type="number"
													class="input js-form-price js-filter-item _mt-xs"
													value="100"
												/>
											</div>
										</div>
										<div class="_cell">
											<div class="_owl _owl--xs">
												<label for="price-to">
													<small>До</small>
												</label>
												<input
													id="price-to"
													name="price"
													type="number"
													class="input js-form-price js-filter-item _mt-xs"
													value="3000"
												/>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="_cell _cell--12 _md:cell--8 _df:cell--9">
						<div class="_owl _owl--df">
							<div class="_grid _flex-column _sm:flex-row _grid--auto _spacer _spacer--md _justify-end">
								<div class="_cell">
									<div class="_owl _owl--xs">
										<label for="sort_one">
											<small>Сортировать:</small>
										</label>
										<select
												id="sort_one"
												name="sort_one"
												class="select js-form-select js-filter-item"
												form="filter"
										>
											<option value="1">От дешевых к дорогим</option>
											<option value="2">От дорогих к дешевым</option>
											<option value="3">От старых к новым</option>
											<option value="3">От новых к старым</option>
										</select>
									</div>
								</div>
								<div class="_cell">
									<div class="_owl _owl--xs">
										<label for="sort_per_page">
											<small>Кол-во элементов на страницу:</small>
										</label>
										<select
												id="sort_per_page"
												name="sort_per_page"
												class="select js-form-select js-filter-item"
												form="filter"
										>
											<option value="6">6</option>
											<option value="12">12</option>
											<option value="24">24</option>
											<option value="60">60</option>
										</select>
									</div>
								</div>
							</div>
							<div class="_grid _spacer _spacer--sm _md:spacer--lg">
								<div class="_cell _cell--6 _df:cell--4">
									<div class="card">
										<div class="card__top">
											<div class="card__brand">ELIGOR</div>
											<img
												src="images/model1.jpg"
												alt="ГАЗ-61 (4х4) (1939) H365"
												class="card__image"
											/>
										</div>
										<div class="card__bottom">
											<div
												class="_grid _flex-column _sm:flex-row _justify-between _flex-nowrap _mb-sm"
											>
												<div class="_gcell">
													<div class="card__manufacturer">
														Наш автопром
													</div>
												</div>
												<div class="_gcell">
													<div class="card__year">2000 год</div>
												</div>
											</div>
											<div class="card__model">
												ГАЗ-61 (4х4) (1939) H365
											</div>
											<div class="_grid _justify-center">
												<div class="_gcell">
													<div class="card__price">$200</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="_cell _cell--6 _df:cell--4">
									<div class="card">
										<div class="card__top">
											<div class="card__brand">MSMODELS</div>
											<img
												src="images/model2.jpg"
												alt="ГАЗ-21И «Волга»"
												class="card__image"
											/>
										</div>
										<div class="card__bottom">
											<div
												class="_grid _flex-column _sm:flex-row _justify-between _flex-nowrap _mb-sm"
											>
												<div class="_gcell">
													<div class="card__manufacturer">V43</div>
												</div>
												<div class="_gcell">
													<div class="card__year">1983 год</div>
												</div>
											</div>
											<div class="card__model">
												ГАЗ-21И «Волга»
											</div>
											<div class="_grid _justify-center">
												<div class="_gcell">
													<div class="card__price">$1 000</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="_cell _cell--6 _df:cell--4">
									<div class="card">
										<div class="card__top">
											<div class="card__brand">ELIGOR</div>
											<img
												src="images/model3.jpg"
												alt="ЗиЛ-138 газобалонный"
												class="card__image"
											/>
										</div>
										<div class="card__bottom">
											<div
												class="_grid _flex-column _sm:flex-row _justify-between _flex-nowrap _mb-sm"
											>
												<div class="_gcell">
													<div class="card__manufacturer">SSM</div>
												</div>
												<div class="_gcell">
													<div class="card__year">2003 год</div>
												</div>
											</div>
											<div class="card__model">
												ЗиЛ-138 газобалонный
											</div>
											<div class="_grid _justify-center">
												<div class="_gcell">
													<div class="card__price">$850</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="_cell _cell--6 _df:cell--4">
									<div class="card">
										<div class="card__top">
											<div class="card__brand">MSMODELS</div>
											<img
												src="images/model4.jpg"
												alt="Daimler DB18 Empress by Hooper"
												class="card__image"
											/>
										</div>
										<div class="card__bottom">
											<div
												class="_grid _flex-column _sm:flex-row _justify-between _flex-nowrap _mb-sm"
											>
												<div class="_gcell">
													<div class="card__manufacturer">
														MATRIX
													</div>
												</div>
												<div class="_gcell">
													<div class="card__year">1995 год</div>
												</div>
											</div>
											<div class="card__model">
												Daimler DB18 Empress by Hooper
											</div>
											<div class="_grid _justify-center">
												<div class="_gcell">
													<div class="card__price">$1 280</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="_cell _cell--6 _df:cell--4">
									<div class="card">
										<div class="card__top">
											<div class="card__brand">SCHUCO</div>
											<img
												src="images/model5.jpg"
												alt="BMW 503"
												class="card__image"
											/>
										</div>
										<div class="card__bottom">
											<div
												class="_grid _flex-column _sm:flex-row _justify-between _flex-nowrap _mb-sm"
											>
												<div class="_gcell">
													<div class="card__manufacturer">
														MATRIX
													</div>
												</div>
												<div class="_gcell">
													<div class="card__year">1982 год</div>
												</div>
											</div>
											<div class="card__model">BMW 503</div>
											<div class="_grid _justify-center">
												<div class="_gcell">
													<div class="card__price">$990</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="_cell _cell--6 _df:cell--4">
									<div class="card">
										<div class="card__top">
											<div class="card__brand">ELIGOR</div>
											<img
												src="images/model6.jpg"
												alt="Mercedes-Benz E-Class 200TE Station Wagon T-Model"
												class="card__image"
											/>
										</div>
										<div class="card__bottom">
											<div
												class="_grid _flex-column _sm:flex-row _justify-between _flex-nowrap _mb-sm"
											>
												<div class="_gcell">
													<div class="card__manufacturer">
														NOREV
													</div>
												</div>
												<div class="_gcell">
													<div class="card__year">1973 год</div>
												</div>
											</div>
											<div class="card__model">
												Mercedes-Benz E-Class 200TE Station Wagon
												T-Model
											</div>
											<div class="_grid _justify-center">
												<div class="_gcell">
													<div class="card__price">$2 155</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="_grid _justify-center pagination _mt-df">
							<div class="_cell">
								<a href="#" class="pagination__prev pagination__nav disabled">prev</a>
							</div>
							<div class="_cell">
								<a class="pagination__item">1</a>
							</div>
							<div class="_cell">
								<a href="#" class="pagination__item">2</a>
							</div>
							<div class="_cell">
								<a href="#" class="pagination__item">3</a>
							</div>
							<div class="_cell">
								<a href="#" class="pagination__item">4</a>
							</div>
							<div class="_cell">
								<a href="#" class="pagination__item">5</a>
							</div>
							<div class="_cell">
								<a href="#" class="pagination__next pagination__nav">next</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section section--white">
			<img class="section__decor" src="images/car.svg" alt="car">
			<div class="container">
				<div class="wysiwyg">
					<h1>Lorem ipsum dolor sit amet.</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur est et ex excepturi fugit illo incidunt, laborum minima molestias nostrum numquam, quis rem sed, soluta vero voluptatum? Distinctio enim ex facilis laboriosam magnam modi, nam natus odio placeat quae, quaerat quam recusandae veritatis. Deleniti inventore quia sapiente voluptate voluptatibus?</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, perferendis!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat necessitatibus sequi tempore tenetur ut vel! Error magni nostrum soluta suscipit temporibus tenetur. A adipisci autem dolores hic illo magnam nemo nihil nisi non, porro quisquam ratione repellat voluptas? Labore, tempora?</p>
				</div>
			</div>
		</div>
	</body>
</html>
