.pagination {
	display: flex;
	align-items: center;

	a.pagination__item {
		width: 30px;
		height: 30px;
		color: $black;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		margin: 0 10px;
		font-size: microbe-rem(13);
		pointer-events: none;
		background-color: $background-default;
		border: 1px solid $background-default;

		&[href] {
			pointer-events: all;
			background-color: $color-text-contrasText;

			&:hover {
				background-color: $background-default;
			}
		}
	}

	&__nav {
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		background-color: $color-text-contrasText;
		padding: 0 10px;
		height: 30px;
		color: $black;
		text-decoration: none;
		border: 1px solid $background-default;
		margin: 0 10px;

		@media(max-width: 480px) {
		    display: none;
		}

		&.disabled {
			opacity: 0.5;
			pointer-events: none;
		}

		&:hover {
			background-color: $background-default;
		}
	}
}
