@import 'settings/all';

.section {
	position: relative;
	z-index: 2;
	padding: microbe-rem(30) 0;

	&--white {
		background-color: $background-surface;
		z-index: 0;
	}

	&__decor {
		position: absolute;
		width: microbe-rem(280);
		height: microbe-rem(160);
		top: microbe-rem(-70);
		left: 50%;
		z-index: -1;
		margin-left: microbe-rem(-140);
	}
}
